:root {
    /* primary */
    --reaction-txt: hsl(0, 100%, 67%);
    --memory-txt: hsl(39, 100%, 56%);
    --verbal-txt: hsl(166, 100%, 37%);
    --visual-txt: hsl(234, 85%, 45%);
    /* gradients */
    --result-bg1: hsl(252, 100%, 67%);
    --result-bg2: hsl(241, 81%, 54%);
    --result-circle1: hsla(256, 72%, 46%, 1);
    --result-circle2: hsla(241, 72%, 46%, 0);
    /* neutral */
    --body-bg: hsl(0, 0%, 100%);
    --card-bg: hsl(221, 100%, 96%);
    --total-txt: hsl(241, 100%, 89%);
    --button-bg: hsl(224, 30%, 27%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

div.card-container {
    border: 1px black;
}

/* result side - left & top */

.result {
    background-image: linear-gradient(hsla(252, 100%, 67%), hsla(241, 81%, 54%));
    color: white;
    border-radius: 1.5rem;
}

.title {
    font-size: 1.5rem;
    padding-top: 2rem;
    color: var(--total-txt);
}

.score {
    margin: 1.5rem auto;
    border-radius: 6.25rem;
    width: 11rem;
    height: 11rem;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-number {
    font-size: 4rem;
}

.btm-number {
    font-size: 1.1rem;
    color: var(--total-txt);
}

.reaction {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.rating {
    width: 14rem;
    padding: 0 1.5rem 2rem 1.5rem;
    color: var(--total-txt);
}

/* summary side right & bottom */

.summary {
    display: flex;
    flex-direction: column;
    padding: 1.813rem 1.688rem;
    max-width: 17rem;
    max-height: 27.5;
    border: none;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px hsl(224, 30%, 27%, .1);
}

.summary-txt {
    display: flex;
    font-size: 1.5rem;
    color: var(--button-bg);
    font-weight: 700;
    padding-bottom: 3.5rem;
}

.reaction-score {
    display: flex;
    justify-content: space-between;
    color: var(--reaction-txt);
    background-color: hsla(0, 100%, 67%, .1);
    width: 12.5rem;
    height: 2.5rem;
    align-items: center;
    border-radius: .5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

span.reaction-nums {
    color: var(--button-bg);
    padding-right: 1rem;
}

.memory-score {
    display: flex;
    justify-content: space-between;
    color: var(--memory-txt);
    background-color: hsla(39, 100%, 56%, .1);
    width: 12.5rem;
    height: 2.5rem;
    align-items: center;
    border-radius: .5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

span.memory-nums {
    color: var(--button-bg);
    padding-right: 1rem;
}

.verbal-score {
    display: flex;
    justify-content: space-between;
    color: var(--verbal-txt);
    background-color: hsla(166, 100%, 37%, .1);
    width: 12.5rem;
    height: 2.5rem;
    align-items: center;
    border-radius: .5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

span.verbal-nums {
    color: var(--button-bg);
    padding-right: 1rem;
}

.visual-score {
    display: flex;
    justify-content: space-between;
    color: var(--visual-txt);
    background-color: hsla(234, 85%, 45%, .1);
    width: 12.5rem;
    height: 2.5rem;
    align-items: center;
    border-radius: .5rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

span.visual-nums {
    color: var(--button-bg);
    padding-right: 1rem;
}

.continue {
    background-color: var(--button-bg);
    border: none;
    color: white;
    width: 100%;
    border-radius: 2.5em;
    /* margin: 0 auto; */
    margin-top: 2em;
    padding: 0.5em 0.7rem;
    font-size: 1rem;
    font-family: 'Hanken Grotesk', sans-serif;
    cursor: pointer;
}

.continue:hover {
    background-image: linear-gradient(hsla(252, 100%, 67%), hsla(241, 81%, 54%));
}

.attribution {
    position: absolute;
    bottom: 0;
}

/* mobile */
@media screen and (max-width: 600px) {

    body,
    html {
        position: relative;
        min-height: 100vh;
        min-height: 100%;
        font-size: 1.2rem;
        /* margin: 0; */
    }

    .rating {
        width: auto;
        padding: 0 2rem 2rem 2rem;
    }

    .result {
        /* padding-top: 5rem; */
        border-radius: 0 0 1.5rem 1.5rem;
    }

    .card-container {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
    }

    .summary {
        max-width: 36rem;
        margin: 1.5rem 4rem 0 4rem;
        padding: 0;
        box-shadow: none;
        font-size: 1rem;
    }

    .summary-txt {
        padding-bottom: 1.5rem;
    }

    .reaction-score {
        width: auto;
    }

    .memory-score {
        width: auto;
    }

    .verbal-score {
        width: auto;
    }

    .visual-score {
        width: auto;
        margin-bottom: 0;
    }

    .button {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .continue {
        max-width: 15rem;
    }

    .attribution {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
}